@model List<SistemaDeNotas.Models.Aluno>

<br />
<h1>Cadastro de Alunos</h1>
<br />
<a href="/Aluno/AddAlunos" class="btn btn-info">Adicionar Aluno</a>
<br />
<br />

<h1>Alunos</h1>

@foreach (var item in Model)
{   
    <br />
    <h4>Nome: @item.Nome - ID: @item.id</h4>



    <br />
    <a class="btn btn-info" href="/Aluno/Index/@item.id">Exibir Aluno</a>
    <br />
    

}
