@model List<SistemaDeNotas.Models.Nota>
@{

    List<Aluno> listaAlunos = (List<Aluno>)ViewData["alunos"];
}
<br />

<h1>Cadastro de Notas</h1>
<br />
<a href="/Nota/AddNotas" class="btn btn-info">Adicionar Nota</a>
<br />
<br />

<h1>Notas</h1>
<br />

@foreach (var item in Model)

{
    var aluno = listaAlunos.Where(x => x.id == Guid.Parse(item.IdAluno)).FirstOrDefault();
    <br />
    <h4>@aluno.Nome</h4>

    <a class="btn btn-info" href="/Nota/Index/@item.IdAluno">
        Calcular Media
    </a>
    <br />
}
