@{
    ViewBag.Title = "Home Page";
}


    <div class="row">
        <img width="200px" height="200px" src="~/Imagens/NOTAS.png" />
        <div class="col-md-6">
            <h2>WCC</h2>
            <p>
                Sistema de Cadastro de Notas e Alunos
            </p>
        </div>
    </div>
